<div class="MsoNormal" style="text-align: center; margin-bottom: 5px; line-height: 115%; font-size: 12.0pt; font-family: 'Bookman Old Style',serif; color: black;">
    <table style="border-collapse: collapse; width: 100%; height: 122.896px;" border="1"><colgroup><col style="width: 6.79846%;"><col style="width: 21.5526%;"><col style="width: 13.3076%;"><col style="width: 17.7909%;"><col style="width: 31.5341%;"><col style="width: 8.96818%;"></colgroup>
        <tbody>
            <tr style="height: 50.25px;">
                <td>No</td>
                <td>Uraian / Kegiatan</td>
                <td>Volume</td>
                <td>Biaya</td>
                <td>Alasan tidak terdanai</td>
                <td>Ket</td>
            </tr>
            <tr style="height: 72.6458px;">
                <td style="text-align: left;">I</td>
                <td style="text-align: left;">Bidang Pemerintahan</td>
                <td>&nbsp;</td>
                <td style="text-align: right;">25.481.000</td>
                <td style="text-align: left;">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>